<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
   <header>
        <div class="navbar">
            <div class="nav-logo border">
            <div class="logo">
                <img src="/images/amazon_logo.png" height="50px" width="113px" >
            </div>
            </div>
            <div class="nav-location border">
                <p class="box-1">
                    Deliver to 
                </p>
                <div class="box-2">
                <i class="fa-solid fa-location-dot"></i>
                <p > India </p>
            </div>
            </div>

            <div class="nav-search">
                <div class="search border">
                    <select class="all_box">
                        <option >All</option>
                    </select>
                    <input  class="search_box" placeholder="Search Amazon">
                    <div class="search_logo ">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
            </div>

            <div class="country_border">
                <img src="/images/flag.png" height="16px" width="21px">
                <select class="En">
                    <option>EN</option>
                </select>

            </div>

            <div class="sign">
                <!-- <p class="hello">Hello,Sign in</p>
                <select class="sign"> 
                    <option>Account and List</option>
                </select> -->
                <a href="/register" class="link">Sign In </a> 
            </div>

            <div class="return border">
                <p class="Return">Return</p>
                <p class="order">& Orders</p>

            </div>
        </div>

        <div class="panel-all">
            <div class="panel-select">
            <i class="fa-solid fa-bars"></i>All
        </div>
            <div class="panel-items">
                <p class="c1">Today's Deals</p>
                <p class="c2">Customer Service</p>
                <p class="c3">Registry</p>
                <p class="c4">Gift Cards</p>
                <p class="c5">Sell</p>
            </div>
        </div>

    </header>

    <div class="next-page">
        <div class="para">
        <p>You are on amazon.com. You can also shop on Amazon India for millions of products with fast local delivery.<a> Click here to go to amazon.in </a></p>
        </div>
       
         
    </div>

    <div class="boxes">
        <div class="b-1 box">
           <h2 class="heading2">Gaming Accesories</h2>
           <div class="first hhh">
            <img src="/images/box1_image.jpg" width="45%" height="115px">
            <img src="/images/box2_image.jpg" width="45%" height="115px">
           </div>
           <div class="first name">
            <p>headsets</p>
            <p>keyboard</p>
           </div>
           <div class="second hhh ">
            <img src="/images/box3_image.jpg" width="45%" height="115px">
            <img src="/images/box4_image.jpg" width="45%" height="115px">
           </div>
           <div class="second name">
            <p>headsets</p>
            <p>keyboard</p>
           </div>
           <a>Shop now </a>
        
        </div>
        <div class="b-2 box">
            <h2 class ="heading2"> Toys Under $30 </h2>
            <div class="box5">
            <img src="/images/box5_image.jpg" height="300px" width="300px">
            </div>
           <a>Shop now </a>
        </div>
        <div class="b-3 box">
            <h2 class="heading2">Gaming Accesories</h2>
           <div class="first hhh">
            <img src="/images/box1_image.jpg" width="45%" height="115px">
            <img src="/images/box2_image.jpg" width="45%" height="115px">
           </div>
           <div class="first name">
            <p>headsets</p>
            <p>keyboard</p>
           </div>
           <div class="second hhh ">
            <img src="/images/box3_image.jpg" width="45%" height="115px">
            <img src="/images/box4_image.jpg" width="45%" height="115px">
           </div>
           <div class="second name">
            <p>headsets</p>
            <p>keyboard</p>
           </div>
           <a>Shop now </a>
        </div>
        <div class="b-4 box">
            <h2 class ="heading2"> Toys Under $30 </h2>
            <div class="box5">
            <img src="/images/box5_image.jpg" height="300px" width="300px">
            </div>
           <a>Shop now </a>
             </div>


             <div class="b-5 box">
                <h2 class="heading2">Gaming Accesories</h2>
                <div class="first hhh">
                 <img src="/images/box1_image.jpg" width="45%" height="115px">
                 <img src="/images/box2_image.jpg" width="45%" height="115px">
                </div>
                <div class="first name">
                 <p>headsets</p>
                 <p>keyboard</p>
                </div>
                <div class="second hhh ">
                 <img src="/images/box3_image.jpg" width="45%" height="115px">
                 <img src="/images/box4_image.jpg" width="45%" height="115px">
                </div>
                <div class="second name">
                 <p>headsets</p>
                 <p>keyboard</p>
                </div>
                <a>Shop now </a>
             
             </div>
             <div class="b-6 box">
                 <h2 class ="heading2"> Toys Under $30 </h2>
                 <div class="box5">
                 <img src="/images/box5_image.jpg" height="300px" width="300px">
                 </div>
                <a>Shop now </a>
             </div>
             <div class="b-7 box">
                 <h2 class="heading2">Gaming Accesories</h2>
                <div class="first hhh">
                 <img src="/images/box1_image.jpg" width="45%" height="115px">
                 <img src="/images/box2_image.jpg" width="45%" height="115px">
                </div>
                <div class="first name">
                 <p>headsets</p>
                 <p>keyboard</p>
                </div>
                <div class="second hhh ">
                 <img src="/images/box3_image.jpg" width="45%" height="115px">
                 <img src="/images/box4_image.jpg" width="45%" height="115px">
                </div>
                <div class="second name">
                 <p>headsets</p>
                 <p>keyboard</p>
                </div>
                <a>Shop now </a>
             </div>
             <div class="b-8 box">
                 <h2 class ="heading2"> Toys Under $30 </h2>
                 <div class="box5">
                 <img src="/images/box5_image.jpg" height="300px" width="300px">
                 </div>
                <a>Shop now </a>
                  </div>


    </div>
      
</body>
</html>